<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dinner picker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h1>What's for dinner?</h1>
            </a>
        </div>
    </nav>


    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Make a list!
    </a>
    <div class="collapse card" id="collapseExample">
        <form action="">
            <div class="input-groupmb-3">
                <label for="number_of_meals" class="form-label">How many meals would you like?</label>
                <br>
                <input type="number" class="form-control" name="number_of_meals" value="5" required />
                <br>
                <label for="difficulty" class="form-label">What are the max difficult meals?</label>
                <br>
                <input type="number" class="form-control" name="difficulty" value="2" required>
            </div>
        </form>
    </div>
    {% block content %}{% endblock %}

    <button type="button" class="btn btn-primary">export to csv</button>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>