{% extends "home.html" %}

{% block content %}
<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Difficulty</th>
            <th>Ingredients</th>
            <th>Category</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for row in csv %}
        <tr>
            {% for col in row %}
            <td>{{ col }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}